---
import Page from '../layouts/Page.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts.ts';

import { unions } from '../utils/unions.ts';
export async function getStaticPaths() {
  return unions.map((federation) => ({
    params: { slug: federation.slug },
    props: { federation },
  }));
}

const terms_and_policies = [
  { title: 'Terms of Service', href: './terms_of_serice' },
  { title: 'Privary Policy', href: './privary_policy' },
  { title: 'Attributions', href: './attributions' },
];
---

<Page>
  <div class="container">
    <h1 class="display-1">{SITE_TITLE}</h1>
    <p class="lead">{SITE_DESCRIPTION}</p>

    <h6 class="mt-4">Unions</h6>
    <ul class="list-group">
      {
        unions.map((fed) => (
          <li class="list-group-item">
            <a href={`/${fed.slug}`} class="text-decoration-none">
              {fed.name}
            </a>
          </li>
        ))
      }
    </ul>

    <h6 class="mt-4">Terms and Policies</h6>
    <ul class="list-group">
      {
        terms_and_policies.map((tab) => (
          <li class="list-group-item">
            <a href={`/${tab.href}`} class="text-decoration-none">
              {tab.title}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</Page>
